<div class="container-full">
  <div class="authContainer">
    <div class="contForm">
      <h1>Login</h1>

      <form class="formContainer">
        <div class="form-group">
          <input
            type="email"
            id="email"
            class="form-input md-light"
            placeholder=" "
          />
          <label for="email" class="form-label">Email:</label>
          <span class="form-line"></span>
        </div>

        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-input md-light"
            placeholder=" "
          />
          <label for="password" class="form-label">Contraseña:</label>
          <span class="form-line"></span>
        </div>

        <div class="contBtn">
          <button type="submit" class="btnAuth">Login</button>
        </div>
      </form>

      <p class="textCount">No tengo una cuenta. <span class="redirectText">Registrarme</span></p>
      <p class="resetPass">Olvide mi contraseña</p>
    </div>
  </div>

  <div class="background">
    <img src="assets/img/auth/login.svg" alt="otro" />
  </div>
</div>
