.container-full {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authContainer {
  width: 45%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#8b868673 0.5px, #e5e5f700 0.5px);
  background-size: 10px 10px;
}

h1 {
  font-weight: bold;
}

.typeMode {
  position: absolute;
  top: 10px;
  right: 10px;
}

.contForm {
  width: 70%;
  height: 300px;
  padding: 10px;
}

.textCount {
  margin: 0;
  font-size: .7rem;
  margin-top: 15px;
  text-align: center;
}

.resetPass {
  font-size: .7rem;
  text-align: center;
  margin-top: 5px;
  color: #000;
  cursor: pointer;
  transition: .3s ease all;
}

.resetPass:hover {
  color: #ab1d3e;
}

.formContainer {
  margin-top: 30px;
  display: grid;
  gap: 25px;
}

.form-group {
  position: relative;
}

.form-group input {
  width: 100%;
  background: none;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #cdcdcd;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
}

.form-group label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, #00ffff .3s;
  transition: .3s ease all;
}

.contBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnAuth {
  width: auto;
  border-radius: 20px;
  padding: 3px 25px;
  font-size: 1rem;
  background: var(--color-primary);
  transition: .3s ease all;
}

.btnAuth:hover {
  background: var(--hover-primary);
}

.background {
  width: 55%;
  height: 100vh;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background img {
  width: 70%;
}

/* ============================================================
TABLETS
============================================================ */
@media screen and (min-width: 601px) and (max-width: 912px) {
  .authContainer {
    width: 45%;
  }
  .background {
    width: 55%;
  }
}

/* ============================================================
PHONE
============================================================ */
@media screen and (max-width: 600px) {
  .authContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#8b868625 0.6px, #e5e5f700 0.5px);
    background-size: 10px 10px;
  }
  .background {
    display: none;
  }
}
