<div class="container-full">
  <div class="authContainer">
    <div class="contForm">
      <h1>Login</h1>

      <form
        class="formContainer"
        autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <div class="form-group">
          <input
            type="email"
            id="email"
            class="form-input md-light"
            formControlName="email"
            placeholder=" "
          />
          <label for="email" class="form-label">Email:</label>
          <span class="form-line"></span>
        </div>

        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-input md-light"
            formControlName="password"
            placeholder=" "
          />
          <label for="password" class="form-label">Contraseña:</label>
          <span class="form-line"></span>
        </div>

        <div class="contBtn">
          <button type="submit" class="btnAuth" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>

      <p class="textCount">
        No tengo una cuenta.
        <span routerLink="register" class="redirectText">Registrarme</span>
      </p>
      <p class="resetPass">Olvide mi contraseña</p>
    </div>
  </div>

  <div class="background">
    <img src="assets/img/auth/login.svg" alt="otro" />
  </div>
</div>
