.container {
  margin-top: 50px;
  position: relative;
  margin-bottom: 10px;
}

.introduction {
  display: flex;
  justify-content: space-between;
}

.introduction .showMore {
  color: #4f4f4f;
  cursor: pointer;
  transition: .2s ease all;
}

.introduction .showMore:hover {
  color: var(--color-primary);
}

h4 {
  margin-bottom: 10px;
}

.contSection {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 5px;
  margin-bottom: 30px;
  vertical-align: top;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.contSection::-webkit-scrollbar {
  display: none;
}

.target {
  flex-direction: 0 0 auto;
  width: 245px;
  min-width: 245px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -2px 2px 4px #a5a5a5;
  overflow: hidden;
  cursor: pointer;
}

.target .imgProduct {
  width: 100%;
  height: 230px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.target .imgProduct img {
  height: 100%;
  max-width: 230px;
}

.dataProduct {
  padding: 10px;
}

.dataProduct .title {
  width: 100%;
  height: auto;
  max-height: 50px;
  overflow: hidden;
}

.dataProduct p.underlined {
  text-decoration: line-through;
  color: #21c061;
}

.dataProduct h5 span {
  font-size: .8rem;
  color: #000;
  width: auto;
  background: #21c061;
  padding: 3px 5px;
  border-radius: 5px;
}

.dataProduct .shipment {
  color: #21c061;
  margin-top: 10px;
  text-align: center;
}

.btnRight {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff76;
  line-height: 40px;
  font-size: 1rem;
  color: #00000082;
  transition: .2s ease all;
}

.btnRight:hover {
  background: var(--color-primary);
  color: #fff;
}

.btnLeft {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff76;
  line-height: 40px;
  font-size: 1rem;
  color: #00000082;
  transition: .2s ease all;
}

.btnLeft:hover {
  background: var(--color-primary);
  color: #fff;
}
