<div class="container">
  <h3>Usuarios</h3>
  <div class="cont-table">
    <table>
      <tr class="tr-title">
        <th class="cell-init">#</th>
        <th class="cell-init">usuario</th>
        <th class="cell-init">email</th>
        <th class="cell-init">tipo de usuario</th>
        <th class="cell-init">editar</th>
        <th class="cell-init">eliminar</th>
      </tr>

      <tr class="tr-data">
        <td class="cell-data">1</td>
        <td class="cell-data">wicho</td>
        <td class="cell-data">wichocanul07@gmail.com</td>
        <td class="cell-data">admin</td>
        <td class="cell-data"><button class="edit">Editar</button></td>
        <td class="cell-data"><button class="remove">Eliminar</button></td>
      </tr>
    </table>
  </div>

</div>
