<nav>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3">
        <div class="logo">
          <h3 routerLink="">Store App</h3>
        </div>
      </div>

      <div
        class="col-12 col-sm-6 d-flex justify-content-center align-items-center"
      >
        <app-search></app-search>
      </div>

      <div class="col-12 col-sm-3">
        <div class="settings">
          <p *ngIf="!userActive" class="login" (click)="auth()">Iniciar sesion</p>
          <div *ngIf="userActive" class="profile"
            (mouseenter)="showOptions()"
            (mouseleave)="hiddenOption()"
          >
            <img src="assets/img/shared/userDefault.webp" alt="">
            <p>{{ user }}</p>

            <div class="settingsOptions" *ngIf="flagOptionsSettings">
              <p [routerLink]="['profile']">Mi Perfil</p>
              <p>Mis compras</p>
              <p (click)="auth()">Salir</p>
            </div>
          </div>

          <div class="shoppingCart">
            <img src="assets/img/shared/shopcart.svg" alt="shopping cart" />
            <span class="tooltip">Carrito de Compras</span>
          </div>

          <div class="favorites">
            <img src="assets/img/shared/favorite.svg" alt="favorites" />
            <span class="tooltip">Favoritos</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="categories">
        <ul>
          <li [routerLink]="['search', 'todo']">Todo</li>
          <li [routerLink]="['search', 'videojuegos']">Videojuegos</li>
          <li [routerLink]="['search', 'hogar']">Hogar</li>
          <li [routerLink]="['search', 'ropa']">Ropa</li>
          <li [routerLink]="['search', 'electronicos']">Electronicos</li>
          <li [routerLink]="['search', 'Belleza e Higiene']">Belleza e Higiene</li>
          <li [routerLink]="['search', 'mascotas']">Mascotas</li>
          <li [routerLink]="['search', 'juguetes']">Juguetes</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
