h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cont-table {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow-x: auto;
}

table {
  width: 100%;
  font-size: .9rem;
  border-collapse: collapse;
}

tr.tr-title {
  background: #929292;
  white-space: nowrap;
}

.cell-init {
  font-weight: bold;
  width: auto;
  text-align: start;
  padding: 5px 10px;
}

.cell-data {
  padding: 3px 10px;
}

.tr-data {
  height: 30px;
  background: #fefefe;
  border-bottom: 1px solid #c1c1c130;
}

.tr-data:hover {
  background: #c1c1c130;
}

button {
  padding: 3px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: .8rem;
}

.edit {
  background: #4ac896;
}

.remove {
  background: #c84a5d;
}
