<div class="container">
  <h2 class="title">{{ category | uppercase }}</h2>

  <div class="contSection">

    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>
    <app-target-category></app-target-category>


  </div>
</div>
