@font-face {
  font-family: font-title;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  outline: 0;
  border: 0;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: font-title;
  font-weight: bold;
}

.redirectText {
  color: #2841c2;
  cursor: pointer;
}

.redirectText:hover {
  text-decoration: underline;
}


:root {
  --color-primary: #30a8be;
  --text-primary: #000000;
  --hover-primary: #2f8c9c;
}
